In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:

# Due to ir-regular data, normal method of reading doesn't work, 
#So, sep = ";",error_bad_lines=False,encoding='latin1' is used
booksData = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Books.csv", sep = ";",error_bad_lines=False,encoding='latin1')

/var/folders/g9/gdhmjd1x5pj37qxv7gq6mdpm0000gn/T/ipykernel_3502/1215089374.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  booksData = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Books.csv", sep = ";",error_bad_lines=False,encoding='latin1')
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/var/folders/g9/gdhmjd1x5pj37qxv7gq6mdpm0000gn/T/ipykernel_3502/1215089374.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  booksData = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Books.csv", sep = ";",error_bad_lines=False,encoding='latin1')

In [8]:
booksData.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
booksData.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [10]:
booksData = booksData.drop(['Image-URL-S', 'Image-URL-M'],axis=1)

In [11]:
booksData.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L'],
      dtype='object')

In [12]:
# Loading the Users Dataset
BookUsers = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Users.csv", sep = ";",error_bad_lines=False,encoding='latin1')

/var/folders/g9/gdhmjd1x5pj37qxv7gq6mdpm0000gn/T/ipykernel_3502/1743876329.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  BookUsers = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Users.csv", sep = ";",error_bad_lines=False,encoding='latin1')

In [13]:
BookUsers.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [14]:
# Loading the Books Rating Dataset
BookRatings = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Book-Ratings.csv", sep = ";",error_bad_lines=False,encoding='latin1')

/var/folders/g9/gdhmjd1x5pj37qxv7gq6mdpm0000gn/T/ipykernel_3502/660707669.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  BookRatings = pd.read_csv("/Users/baranidharan/Desktop/Dataset/BX-Book-Ratings.csv", sep = ";",error_bad_lines=False,encoding='latin1')

In [15]:
BookRatings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [16]:
# There are many unwanted data's which doesn't support the cluster
BookRatings["User-ID"].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User-ID, Length: 105283, dtype: int64

In [17]:
BookRatings["User-ID"].unique().shape

(105283,)

In [18]:
# Dropping the unwanted data's
x = BookRatings["User-ID"].value_counts() >200

In [19]:
x[x].shape

(899,)

In [20]:
# Traversing the index of the user rated above 200

y = x[x].index
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [21]:
# These are the users with rating above 200
High_Ratings = BookRatings[BookRatings["User-ID"].isin(y)]

In [22]:
High_Ratings.head()

      User-ID        ISBN  Book-Rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0

In [23]:
High_Ratings.shape

(526356, 3)

In [24]:
# Merging the books id  (ISBN)
booksData.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [25]:
Books_With_Rating = High_Ratings.merge(booksData, on="ISBN")
Books_With_Rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,http://images.amazon.com/images/P/1892145022.0...
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...

In [26]:
Numbers_of_Ratings = Books_With_Rating.groupby("Book-Title")["Book-Rating"].count()

In [27]:
# Books with the count of rating
Numbers_of_Ratings.reset_index()

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            3
160265                                      Ã?Â?lpiraten.            1
160266                     Ã?Â?rger mit Produkt X. Roman.            1
160267                              Ã?Â?stlich der Berge.            1
160268                                  Ã?Â?thique en toc            1

[160269 rows x 2 columns]

In [28]:
Numbers_of_Ratings.rename({'Book-Rating':'Number_of_Rating'},inplace=True)

In [29]:
Numbers_of_Ratings.head()

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    2
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                1
Name: Book-Rating, dtype: int64

In [30]:
Final_Book_Rating = Books_With_Rating.merge(Numbers_of_Ratings,on="Book-Title")

In [31]:
Final_Book_Rating

,User-ID,ISBN,Book-Rating_x,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Book-Rating_y
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,http://images.amazon.com/images/P/1892145022.0...,1
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1

In [32]:
Final_Book_Rating[Final_Book_Rating["Book-Rating_y"]> 50]

,User-ID,ISBN,Book-Rating_x,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Book-Rating_y
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
228881,127233,0061090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061090956.0...,83
228882,262399,0061090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061090956.0...,83
228883,178667,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/074350996X.0...,83
228884,185233,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/074350996X.0...,83
228885,264317,0613224450,0,Still Waters,Tami Hoag,1992,Sagebrush Bound,http://images.amazon.com/images/P/0613224450.0...,83

In [33]:
Final_DataFrame_BR = Final_Book_Rating[Final_Book_Rating["Book-Rating_y"]> 50]

In [114]:
Final_DataFrame_BR.shape

(59903, 9)

In [34]:
Final_DataFrame_BR.drop_duplicates(["Book-Title","User-ID"])

,User-ID,ISBN,Book-Rating_x,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Book-Rating_y
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
228880,268110,0743439651,0,Still Waters,Jennifer Lauck,2001,Atria,http://images.amazon.com/images/P/0743439651.0...,83
228881,127233,0061090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061090956.0...,83
228882,262399,0061090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061090956.0...,83
228883,178667,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/074350996X.0...,83
228885,264317,0613224450,0,Still Waters,Tami Hoag,1992,Sagebrush Bound,http://images.amazon.com/images/P/0613224450.0...,83

In [35]:
# By using the clustering method with Pivot table metrix
# Planning to group the similar users and provide recommendation based on the similar taste

BookPivot_Table = Final_DataFrame_BR.pivot_table(columns="User-ID",index="Book-Title",values = "Book-Rating_x")

In [36]:
BookPivot_Table

User-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
BookPivot_Table = BookPivot_Table.fillna(0)

In [38]:
# As clusterring takes place, there are lot of 0's so, CSR Matrics is used

from scipy.sparse import csr_matrix

Sparse_Book = csr_matrix(BookPivot_Table)
Sparse_Book

<703x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14787 stored elements in Compressed Sparse Row format>

In [39]:
from sklearn.neighbors import NearestNeighbors

#Brute Force kNN algorithm calculates the squared distances from each query feature vector to each reference feature vector in the training data set. 
NN_Model = NearestNeighbors(algorithm="brute")

NN_Model.fit(Sparse_Book)

NearestNeighbors(algorithm='brute')

In [40]:
distance, suggestion = NN_Model.kneighbors(BookPivot_Table.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [41]:
distance

array([[ 0.        , 22.3383079 , 23.08679276, 23.26478025, 24.24871131,
        24.43358345]])

In [42]:
suggestion

array([[237, 173, 356, 296, 377, 277]])

In [43]:
# Suggestions has the index number of the books
for i in range(len(suggestion)):
    print(BookPivot_Table.index[suggestion[i]])

Index(['Hemlock Bay', 'Exclusive', 'No Safe Place', 'Last Man Standing',
       'Pleading Guilty', 'Jacob Have I Loved'],
      dtype='object', name='Book-Title')

In [44]:
Books_Names = BookPivot_Table.index

In [45]:
Books_Names

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=703)

In [46]:
# Converting the Books_Names as a pickle file
import pickle
#Saving the 
#The first argument is the object that you want to store. The second argument is the file object you get by opening the desired file in write-binary (wb) mode.
pickle.dump(NN_Model,open("artifacts/model.pkl","wb"))
pickle.dump(Books_Names,open("artifacts/Book_Names.pkl","wb"))
pickle.dump(Final_DataFrame_BR,open("artifacts/Final_DataFrame_BR.pkl","wb"))
pickle.dump(BookPivot_Table,open("artifacts/BookPivot_Table.pkl","wb"))

In [47]:
# Testing

def Recom_Book(Books_Names):
    BookId = np.where(BookPivot_Table.index == Books_Names)[0][0]
    distance, suggestion = NN_Model.kneighbors(BookPivot_Table.iloc[BookId,:].values.reshape(1,-1),n_neighbors=6)
  
    for i in range(len(suggestion)):
     	Recomm_Books = BookPivot_Table.index[suggestion[i]]
     	for j in Recomm_Books:
            print(j)

In [48]:
Books_Names = "84 Charing Cross Road"
Recom_Book(Books_Names)

84 Charing Cross Road
Exclusive
Jacob Have I Loved
No Safe Place
The Little Friend
The Most Wanted

In [49]:
Books_Names = "The Cradle Will Fall"
Recom_Book(Books_Names)

The Cradle Will Fall
Exclusive
No Safe Place
Eyes of a Child
The Long Road Home
Deck the Halls (Holiday Classics)

In [50]:
# conda create --prefix ./env python==3.11 -y
#conda activate ./env/
#touch setup.py